AIRTABLE_API_KEY=
AIRTABLE_CHAPTER_BASE_APP_ID=

ALGOLIA_APP_ID=
ALGOLIA_SEARCH_KEY=
ALGOLIA_ADMIN_KEY=

CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=

# used by GitHub to display LightHouse stats for PRs and pushes
# https://github.com/apps/lighthouse-ci/installations/new
LHCI_GITHUB_APP_TOKEN=

# used by @google-cloud/translate in src/utils/googleTranslate.js
GOOGLE_APPLICATION_CREDENTIALS=googleTranslateApiKey.json

# https://deepl.com/pro-account
DEEPL_API_KEY=

# https://account.mapbox.com/access-tokens
MAPBOX_PUBLIC_KEY=
