[build]
command = "yarn build"
publish = "build"

[build.environment]
NODE_VERSION = "16.1.0"
YARN_VERSION = "1.22.10"

[[redirects]]
force = true
from = "https://sbsev.netlify.com/*"
to = "https://studenten-bilden-schueler/:splat"

# proxy plausible script to avoid being falsely blocked
# https://plausible.io/docs/proxy/introduction
# https://plausible.io/docs/proxy/guides/netlify
[[redirects]]
from = "/js/script.js"
to = "https://plausible.io/js/plausible.js"
status = 200

[[redirects]]
from = "/api/event"
to = "https://plausible.io/api/event"
status = 202
