[build]
command = "pnpm build"
publish = "build"

[build.environment]
NODE_VERSION = "22.17.1"

[[redirects]]
force = true
from = "https://sbsev.netlify.com/*"
to = "https://studytutors.de/:splat"

[[redirects]]
force = true
from = "https://studenten-bilden-schueler.at/*"
to = "https://studytutors.at/:splat"

[[redirects]]
force = true
from = "https://studenten-bilden-schueler.de/*"
to = "https://studytutors.de/:splat"

# proxy plausible script to avoid being falsely blocked
# https://plausible.io/docs/proxy/introduction
# https://plausible.io/docs/proxy/guides/netlify
[[redirects]]
from = "/js/script.js"
to = "https://plausible.io/js/plausible.js"
status = 200

[[redirects]]
from = "/api/event"
to = "https://plausible.io/api/event"
status = 202
