[build]
command = "yarn export"
publish = "__sapper__/export"

[build.environment]
NODE_VERSION = "16.2.0"
YARN_VERSION = "1.22.10"

[[redirects]]
force = true
from = "https://sbsev.netlify.com/*"
to = "https://studenten-bilden-schueler.de/:splat"
