<script>
  import { title } from './stores'

  $title = `Impressum`
</script>

<div>

<h1>{$title}</h1>

Diese Seite ist [open source](https://github.com/StudentenBildenSchueler/website). Technische Fragen an <it@studenten-bilden-schueler.de>.

</div>

<style>
  div {
    max-width: 40em;
    margin: auto;
  }
</style>
