:root {
  --textColor: white;
  --linkColor: var(--lightBlue);
  --hoverColor: var(--green);
  --bodyBg: var(--darkerBlue);
  --accentBg: var(--altGray);
  --lightBg: var(--darkGray);
  --shadow: black;
  --borderColor: var(--darkGreen);
  --headingColor: var(--lightGreen);
  --headerBg: var(--darkerBlue);
  --headerColor: var(--lightBlue);
  --footerBg: black;
  --invert: 1;
  --transparent: rgba(0, 0, 0, 0.5);
}
