:root {
  --text-color: white;
  --link-color: var(--light-blue);
  --hover-color: var(--green);
  --body-bg: var(--darker-blue);
  --accent-bg: var(--alt-gray);
  --light-bg: var(--dark-gray);
  --shadow: black;
  --border-color: var(--dark-green);
  --heading-color: var(--light-green);
  --header-bg: var(--darker-blue);
  --header-color: var(--light-blue);
  --footer-bg: black;
  --invert: 1;
  --transparent: rgba(0, 0, 0, 0.5);
}

h2#-a-href-mitmachen-kooperationspartner-wir-werden-unterstützt-durch-a-
  + section
  img {
  filter: drop-shadow(1px 0 white) drop-shadow(-1px 0 white)
    drop-shadow(0 1px white) drop-shadow(0 -1px white);
}

/* Alternatives to increase contrast of images */
/* h2#-a-href-mitmachen-kooperationspartner-wir-werden-unterstützt-durch-a- + section img {
    background: radial-gradient(
      circle,
      var(--light-blue) 0%,
      transparent 100%
    );
    } */

/* h2#-a-href-mitmachen-kooperationspartner-wir-werden-unterstützt-durch-a- + section {
    position: relative;
    overflow: hidden;
  }

  h2#-a-href-mitmachen-kooperationspartner-wir-werden-unterstützt-durch-a- + section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, var(--blue) 60%, transparent 100%);
    z-index: 0;
  }

  h2#-a-href-mitmachen-kooperationspartner-wir-werden-unterstützt-durch-a- + section * {
    position: relative;
    z-index: 1;
  } */
