:root {
  --textColor: white;
  --linkColor: var(--light-blue);
  --hoverColor: var(--green);
  --bodyBg: var(--darker-blue);
  --accentBg: var(--alt-gray);
  --lightBg: var(--dark-gray);
  --shadow: black;
  --borderColor: var(--dark-green);
  --headingColor: var(--light-green);
  --headerBg: var(--darker-blue);
  --headerColor: var(--light-blue);
  --footerBg: black;
  --invert: 1;
  --transparent: rgba(0, 0, 0, 0.5);
}
