body {
  /* when scrolling elements into view, don't scroll them to the very top edge where they're hidden by the nav bar (https://stackoverflow.com/a/61913557) */
  scroll-padding-top: 15em;
  overflow-x: hidden;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-size: calc(0.8em + 0.5vw);
  transition: 0.3s;
  background: var(--bodyBg);
  color: var(--textColor);
}
@media (min-width: 1600px) {
  body {
    font-size: 1.4em;
  }
}
main {
  hyphens: auto;
  width: 100vw;
}
main h1 {
  text-align: center;
  color: var(--headingColor);
  font-size: 3ex;
}
main img {
  width: 100%;
}
a {
  color: var(--linkColor);
  text-decoration: none;
}
a:hover {
  color: var(--hoverColor);
}
button {
  color: var(--textColor);
  background: transparent;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
input,
select {
  font-size: 1em;
  border-radius: 5pt;
  border: 1px solid var(--lightBg);
  color: var(--textColor);
  padding: 3pt 1ex;
  max-width: 100%;
  box-sizing: border-box;
}
blockquote {
  border-left: 3pt solid var(--linkColor);
  padding-left: 1em;
  margin: 1ex;
  background: var(--lightBg);
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  border: 1px solid var(--textColor);
  padding: 0.4em 0.8em;
}
tbody tr:nth-child(odd) {
  background: var(--accentBg);
}
.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  text-align: center;
}
/* increase column width to use available space if not all columns filled */
.grid.fit {
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
}
.grid h2,
.grid h3 {
  grid-column: 1 / -1;
}
.grid em,
.grid strong {
  font-style: normal;
  display: block;
}
.grid strong {
  font-weight: lighter;
}
.grid.disk-img img {
  grid-gap: 2em;
  border-radius: 50%;
}

/* anchor tags styled as buttons */
.btn {
  display: block;
  white-space: nowrap;
  margin: 1ex;
  color: white !important;
  border-radius: 5pt;
  padding: 1ex 1.5ex;
  transition: 0.3s;
  width: max-content;
  margin: 1em auto;
}
.btn:hover {
  transform: scale(1.03);
}
.btn.blue {
  background: var(--blue);
}
.btn.blue:hover {
  background: var(--lightBlue);
}
.btn.green {
  background: var(--green);
}
.btn.green:hover {
  background: var(--darkGreen);
}
.btn.orange {
  background: var(--orange);
}
.btn.orange:hover {
  background: var(--darkOrange);
}
.btn.stroke {
  color: var(--textColor) !important;
  background: none;
}
.btn.stroke.blue {
  border: 2pt solid var(--blue);
}
.btn.stroke.green {
  border: 2pt solid var(--green);
}
.btn.stroke.orange {
  border: 2pt solid var(--orange);
}
.btn.stroke:hover {
  color: white !important;
  border: 2pt solid transparent;
}

section.blue,
section.green {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: 0 -50vw;
  padding: 1.5em calc(50vw - 50%);
  color: white;
}
section.blue a {
  color: var(--green);
}
section.green a {
  color: var(--darkBlue);
}
section.blue {
  background: var(--darkBlue);
}
section.green {
  background: var(--darkGreen);
}

div.box-list ul {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
  color: white;
  margin: 3ex auto;
  flex-wrap: wrap;
  hyphens: none;
}
div.box-list ul li {
  padding: 5pt 1ex;
  border-radius: 5pt;
  background: var(--darkBlue);
  flex: 1;
  text-align: center;
  box-shadow: 0 0 2em -1em var(--shadow);
}
div.box-list ul li a {
  color: var(--green);
}
section.blue div.box-list ul li {
  background: var(--green);
  box-shadow: 0 0 2em -1em black;
}
section.blue div.box-list ul li a {
  color: var(--darkBlue);
}
