:root {
  --textColor: black;
  --linkColor: var(--blue);
  --hoverColor: var(--light-blue);
  --bodyBg: var(--lightest-gray);
  --accentBg: white;
  --lightBg: var(--lighter-gray);
  --shadow: var(--gray);
  --borderColor: var(--light-blue);
  --headingColor: var(--light-blue);
  --headerBg: var(--dark-blue);
  --headerColor: white;
  --footerBg: var(--dark-blue);
  --invert: 0;
  --transparent: rgba(255, 255, 255, 0.8);
}
