/* brand colors */
:root {
  --blue: #0b4abf;
  --darkBlue: #003056;
  --darkerBlue: #061725;
  --lightBlue: #00a1ff;
  --lighterBlue: #06c5ff;

  --green: #89ba17;
  --darkGreen: #4d8711;
  --darkerGreen: #3c660f;
  --lightGreen: #95d50f;
  --lighterGreen: #caef76;

  --yellow: #f9ff00;
  --darkYellow: #ffca35;
  --lightYellow: #fbff6c;

  --orange: #e8ab00;
  --darkOrange: #d88100;
  --lightOrange: #ffca29;

  --gray: #464849;
  --altGray: #313441;
  --lightGray: #d8d8d8;
  --lighterGray: #efefef;
  --lightestGray: #f6f6f6;
  --darkGray: #2a2c30;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  line-height: 1.5;
  /* https://modern-fluid-typography.vercel.app */
  font-size: clamp(1rem, 0.5vw + 1rem, 1.4rem);
  transition: 0.3s;
  background: var(--bodyBg);
  color: var(--textColor);
}
/* outer div = hydration target */
body > div {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
main {
  hyphens: auto;
  width: 100vw;
}
main h1 {
  text-align: center;
  color: var(--headingColor);
}
main img {
  width: 100%;
}
a {
  color: var(--linkColor);
  text-decoration: none;
}
a:hover {
  color: var(--hoverColor);
}
button {
  color: var(--textColor);
  background: transparent;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
input,
select {
  font-size: 1em;
  border-radius: 5pt;
  border: 1px solid var(--lightBg);
  color: var(--textColor);
  padding: 3pt 1ex;
  max-width: 100%;
  box-sizing: border-box;
}
blockquote {
  border-left: 3pt solid var(--linkColor);
  padding: 3pt 8pt;
  background: var(--lightBg);
  margin: 1em 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table :is(td, th) {
  border: 1px solid var(--textColor);
  padding: 0.4em 0.8em;
}
tbody tr:nth-child(odd) {
  background: var(--accentBg);
}
.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  text-align: center;
}
.grid.small {
  grid-template-columns: repeat(auto-fill, minmax(4em, 1fr));
}
/* increase column width to use available space if not all columns filled */
.grid.fit {
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
}
.grid :is(h2, h3) {
  grid-column: 1 / -1;
}
.grid :is(em, strong) {
  font-style: normal;
  display: block;
}
.grid strong {
  font-weight: lighter;
}
.grid.disk-img img {
  grid-gap: 2em;
  border-radius: 50%;
}

/* anchor tags styled as buttons */
.btn {
  display: block;
  white-space: nowrap;
  color: white !important;
  border-radius: 5pt;
  padding: 1ex 1.5ex;
  transition: 0.3s;
  margin: 1em auto;
  cursor: pointer;
  width: fit-content;
  box-sizing: border-box;
}
.btn.small {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.5ex 1ex;
}
.btn:hover {
  transform: scale(1.03);
}
.btn.blue {
  background: var(--blue);
}
.btn.blue:hover {
  background: var(--lightBlue);
}
.btn.green {
  background: var(--green);
}
.btn.green:hover {
  background: var(--darkGreen);
}
.btn.orange {
  background: var(--orange);
}
.btn.orange:hover {
  background: var(--darkOrange);
}
.btn.stroke {
  color: var(--textColor) !important;
  background: none;
}
.btn.stroke.blue {
  border: 2pt solid var(--blue);
}
.btn.stroke.green {
  border: 2pt solid var(--green);
}
.btn.stroke.orange {
  border: 2pt solid var(--orange);
}
.btn.stroke:hover {
  color: white !important;
  border: 2pt solid transparent;
}

section:is(.blue, .green) {
  position: relative; /* for the child pseudo-elements */
  color: white;
  padding: 1.5em 0;
}
section.blue a {
  color: var(--green);
}
section.green a {
  color: var(--darkBlue);
}
section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  left: -5000px;
  z-index: -1;
}
section.blue:before {
  background: var(--darkBlue);
}
section.green:before {
  background: var(--darkGreen);
}
section:is(.blue, .green) blockquote {
  background: rgba(0, 0, 0, 0.3);
}

div.box-list ul {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
  color: white;
  margin: 3ex auto;
  flex-wrap: wrap;
  hyphens: none;
}
div.box-list ul li {
  padding: 5pt 1ex;
  border-radius: 5pt;
  background: var(--darkBlue);
  flex: 1;
  text-align: center;
  box-shadow: 0 0 2em -1em var(--shadow);
  display: flex;
  place-content: center;
  place-items: center;
  gap: 3pt;
}
div.box-list ul li em {
  font-style: normal;
}
div.box-list ul li a {
  color: var(--green);
}
section.blue div.box-list ul li {
  background: var(--green);
  box-shadow: 0 0 2em -1em black;
}
section.blue div.box-list ul li a {
  color: var(--darkBlue);
}
/* captions */
p > :is(picture + em, a + em) {
  text-align: center;
  display: block;
}

:where(h1, h2, h3, h4, h5, h6, label, input, select, button, textarea) {
  scroll-margin-top: 100px;
}
/* heading links inserted by custom heading renderer in src/utils/marked.ts */
:where(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:where(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}
