name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  playwright:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: "22.17.1"

      - name: Install dependencies
        run: pnpm install

      - name: Run ESLint (production code)
        run: pnpm lint:prod

      - name: Run type checking
        run: pnpm check

      - name: Cache Playwright browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: playwright-${{ runner.os }}-${{ hashFiles('package.json') }}

      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps

      - name: Build project
        run: pnpm build
        env:
          VITE_CONTENTFUL_SPACE_ID: ${{ secrets.VITE_CONTENTFUL_SPACE_ID }}
          VITE_CONTENTFUL_ACCESS_TOKEN: ${{ secrets.VITE_CONTENTFUL_ACCESS_TOKEN }}
          VITE_AIRTABLE_CHAPTER_BASE_APP_ID: ${{ secrets.VITE_AIRTABLE_CHAPTER_BASE_APP_ID }}
          VITE_AIRTABLE_API_KEY: ${{ secrets.VITE_AIRTABLE_API_KEY }}
          VITE_MAPBOX_PUBLIC_KEY: ${{ secrets.VITE_MAPBOX_PUBLIC_KEY }}

      - name: Run all tests
        run: pnpm test
        env:
          # needed to fetch website content
          VITE_CONTENTFUL_SPACE_ID: ${{ secrets.VITE_CONTENTFUL_SPACE_ID }}
          VITE_CONTENTFUL_ACCESS_TOKEN: ${{ secrets.VITE_CONTENTFUL_ACCESS_TOKEN }}
          # needed to simulate form submission to Airtable test base
          VITE_AIRTABLE_CHAPTER_BASE_APP_ID: ${{ secrets.VITE_AIRTABLE_CHAPTER_BASE_APP_ID }}
          VITE_AIRTABLE_API_KEY: ${{ secrets.VITE_AIRTABLE_API_KEY }}
          # needed to auto-complete and geocode addresses
          VITE_MAPBOX_PUBLIC_KEY: ${{ secrets.VITE_MAPBOX_PUBLIC_KEY }}

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: |
            test-results/
            playwright-report/
          retention-days: 7
          if-no-files-found: ignore
